/* ----------------
    GLOBALS
---------------- */

:root{
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(2, 2, 17);
}

/* ----------------
    TYPOGRAPHY
---------------- */

h2{
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 0;
}

/* ----------------
    LAYOUT
---------------- */

.flex-container{
    display: flex;
}

/* ARTICLES */

.articles{
    width: 95%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    color: rgba(255, 255, 255, .8);

    &__container{
        overflow: scroll;
    }
}

.recent-article{
    display: flex;
    flex-direction: column;
    margin: 0 .5em;
    background: rgba(44, 44, 51, .8);
    border-radius: .5em;
    padding: 1em .75em;
    text-align: left;

    &:first-child{
        margin-left: 0;
    }

    &:last-child{
        margin-right: 0;
    }

    &__title{
        order: -3;
        font-size: 1.1rem;
    }

    &__img{
        order: -2;
    }

    &__date{
        order: -1;
        text-align: right;
        font-size: .75rem;
        text-transform: uppercase;
        color: rgba(255, 255, 255, .5);
        margin-bottom: 0;
    }
}